
  
    


<h1>Web Server Node JS</h1>
<h3>Welcome to my web page <%= name %></h3>


<% if (dataContact.length < 1) { %>
    <h3>Maaf Data Tidak Ditemukan</h3>
<% }else {  %>
    <h2>Daftar Contact</h2>
        <ol>
            <% dataContact.forEach(element => { %>
             <li>Name : <%= element.name %><br>Email : <%= element.email  %> </li><br>
            <% }) %> 
        </ol>
    
    <% } %> 
